body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:129px;
  width:172px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:50px;
}
#u1 {
  position:absolute;
  left:2px;
  top:17px;
  width:168px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:272px;
  top:129px;
  width:172px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:168px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:444px;
  top:129px;
  width:172px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:168px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:616px;
  top:129px;
  width:172px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:168px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:788px;
  top:129px;
  width:172px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:168px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:100px;
  top:30px;
  width:860px;
  height:99px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:99px;
}
#u11 {
  position:absolute;
  left:2px;
  top:42px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:115px;
  top:80px;
  width:200px;
  height:48px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:48px;
}
#u13 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:444px;
  top:170px;
  width:172px;
  height:9px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:9px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-4px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:98px;
  top:454px;
  visibility:hidden;
}
#u16_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u16_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:2px;
  top:28px;
  width:860px;
  height:248px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:248px;
}
#u18 {
  position:absolute;
  left:2px;
  top:116px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:2px;
  top:28px;
  width:860px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:843px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:4px;
  width:860px;
  height:3px;
}
#u20 {
  position:absolute;
  left:2px;
  top:28px;
  width:120px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  height:3px;
}
#u21 {
  position:absolute;
  left:94px;
  top:94px;
  width:444px;
  height:117px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  line-height:7px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:50px;
  top:0px;
  width:117px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:28px;
}
#u25 {
  position:absolute;
  left:2px;
  top:4px;
  width:113px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:167px;
  top:0px;
  width:114px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u27 {
  position:absolute;
  left:2px;
  top:4px;
  width:110px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:281px;
  top:0px;
  width:77px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
}
#u29 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:358px;
  top:0px;
  width:81px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u31 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:28px;
  width:50px;
  height:28px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
}
#u33 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:50px;
  top:28px;
  width:117px;
  height:28px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:28px;
}
#u35 {
  position:absolute;
  left:2px;
  top:4px;
  width:113px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:167px;
  top:28px;
  width:114px;
  height:28px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u37 {
  position:absolute;
  left:2px;
  top:4px;
  width:110px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:281px;
  top:28px;
  width:77px;
  height:28px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:358px;
  top:28px;
  width:81px;
  height:28px;
  color:#008000;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:56px;
  width:50px;
  height:28px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
}
#u43 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:50px;
  top:56px;
  width:117px;
  height:28px;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:28px;
}
#u45 {
  position:absolute;
  left:2px;
  top:4px;
  width:113px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:167px;
  top:56px;
  width:114px;
  height:28px;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u47 {
  position:absolute;
  left:2px;
  top:4px;
  width:110px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:281px;
  top:56px;
  width:77px;
  height:28px;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
}
#u49 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:358px;
  top:56px;
  width:81px;
  height:28px;
  color:#008000;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u51 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:84px;
  width:50px;
  height:28px;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
}
#u53 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:50px;
  top:84px;
  width:117px;
  height:28px;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:28px;
}
#u55 {
  position:absolute;
  left:2px;
  top:4px;
  width:113px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:167px;
  top:84px;
  width:114px;
  height:28px;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u57 {
  position:absolute;
  left:2px;
  top:4px;
  width:110px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:281px;
  top:84px;
  width:77px;
  height:28px;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
}
#u59 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:358px;
  top:84px;
  width:81px;
  height:28px;
  color:#008000;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u61 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:22px;
  top:214px;
  width:188px;
  height:40px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u63 {
  position:absolute;
  left:2px;
  top:12px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:560px;
  top:214px;
  width:186px;
  height:40px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
}
#u65 {
  position:absolute;
  left:2px;
  top:12px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:100px;
  top:56px;
  width:100px;
  height:25px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u67 {
  position:absolute;
  left:30px;
  top:56px;
  width:60px;
  height:25px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u68 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:294px;
  top:56px;
  width:100px;
  height:25px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u70 {
  position:absolute;
  left:214px;
  top:56px;
  width:70px;
  height:25px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u71 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:404px;
  top:56px;
  width:70px;
  height:25px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u73 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:484px;
  top:56px;
  width:86px;
  height:25px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u74_input:disabled {
  color:grayText;
}
#u75 {
  position:absolute;
  left:630px;
  top:56px;
  width:65px;
  height:25px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:166px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:16px;
}
#u77 {
  position:absolute;
  left:2px;
  top:-3px;
  width:162px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:2px;
  top:28px;
  width:860px;
  height:248px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:248px;
}
#u79 {
  position:absolute;
  left:2px;
  top:116px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:100px;
  top:454px;
  width:860px;
  height:276px;
  overflow:hidden;
  visibility:hidden;
}
#u80_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:276px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u80_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u81 {
  position:absolute;
  left:2px;
  top:28px;
  width:860px;
  height:248px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:248px;
}
#u82 {
  position:absolute;
  left:2px;
  top:116px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:2px;
  top:28px;
  width:860px;
  height:10px;
}
#u83_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_end {
  position:absolute;
  left:843px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_line {
  position:absolute;
  left:0px;
  top:4px;
  width:860px;
  height:3px;
}
#u84 {
  position:absolute;
  left:2px;
  top:28px;
  width:120px;
  height:10px;
}
#u84_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u84_line {
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  height:3px;
}
#u85 {
  position:absolute;
  left:94px;
  top:94px;
  width:444px;
  height:117px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  line-height:7px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
}
#u87 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:50px;
  top:0px;
  width:117px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:28px;
}
#u89 {
  position:absolute;
  left:2px;
  top:4px;
  width:113px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:167px;
  top:0px;
  width:114px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u91 {
  position:absolute;
  left:2px;
  top:4px;
  width:110px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:281px;
  top:0px;
  width:77px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
}
#u93 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:358px;
  top:0px;
  width:81px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u95 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:0px;
  top:28px;
  width:50px;
  height:28px;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
}
#u97 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:50px;
  top:28px;
  width:117px;
  height:28px;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:28px;
}
#u99 {
  position:absolute;
  left:2px;
  top:4px;
  width:113px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:167px;
  top:28px;
  width:114px;
  height:28px;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u101 {
  position:absolute;
  left:2px;
  top:4px;
  width:110px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:281px;
  top:28px;
  width:77px;
  height:28px;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
}
#u103 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:358px;
  top:28px;
  width:81px;
  height:28px;
  color:#008000;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u105 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:0px;
  top:56px;
  width:50px;
  height:28px;
  text-align:center;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
}
#u107 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:50px;
  top:56px;
  width:117px;
  height:28px;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:28px;
}
#u109 {
  position:absolute;
  left:2px;
  top:4px;
  width:113px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:167px;
  top:56px;
  width:114px;
  height:28px;
  text-align:center;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u111 {
  position:absolute;
  left:2px;
  top:4px;
  width:110px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:281px;
  top:56px;
  width:77px;
  height:28px;
  text-align:center;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
}
#u113 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:358px;
  top:56px;
  width:81px;
  height:28px;
  color:#008000;
  text-align:center;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u115 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:0px;
  top:84px;
  width:50px;
  height:28px;
  text-align:center;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
}
#u117 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:50px;
  top:84px;
  width:117px;
  height:28px;
  text-align:center;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:28px;
}
#u119 {
  position:absolute;
  left:2px;
  top:4px;
  width:113px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:167px;
  top:84px;
  width:114px;
  height:28px;
  text-align:center;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u121 {
  position:absolute;
  left:2px;
  top:4px;
  width:110px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:281px;
  top:84px;
  width:77px;
  height:28px;
  text-align:center;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:28px;
}
#u123 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:358px;
  top:84px;
  width:81px;
  height:28px;
  color:#008000;
  text-align:center;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u125 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:22px;
  top:214px;
  width:188px;
  height:40px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:40px;
}
#u127 {
  position:absolute;
  left:2px;
  top:12px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:560px;
  top:214px;
  width:186px;
  height:40px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:40px;
}
#u129 {
  position:absolute;
  left:2px;
  top:12px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:100px;
  top:56px;
  width:100px;
  height:25px;
}
#u130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u131 {
  position:absolute;
  left:30px;
  top:56px;
  width:60px;
  height:25px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u132 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:294px;
  top:56px;
  width:100px;
  height:25px;
}
#u133_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u134 {
  position:absolute;
  left:214px;
  top:56px;
  width:70px;
  height:25px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u135 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:404px;
  top:56px;
  width:70px;
  height:25px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u137 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:484px;
  top:56px;
  width:86px;
  height:25px;
}
#u138_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u138_input:disabled {
  color:grayText;
}
#u139 {
  position:absolute;
  left:630px;
  top:56px;
  width:65px;
  height:25px;
}
#u139_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u140 {
  position:absolute;
  left:2px;
  top:2px;
  width:166px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:16px;
}
#u141 {
  position:absolute;
  left:2px;
  top:-3px;
  width:162px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:2px;
  top:28px;
  width:860px;
  height:248px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:248px;
}
#u143 {
  position:absolute;
  left:2px;
  top:116px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:100px;
  top:182px;
  width:860px;
  height:253px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:253px;
}
#u145 {
  position:absolute;
  left:2px;
  top:118px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:100px;
  top:182px;
  width:393px;
  height:10px;
}
#u146_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u146_end {
  position:absolute;
  left:376px;
  top:-5px;
  width:18px;
  height:20px;
}
#u146_line {
  position:absolute;
  left:0px;
  top:4px;
  width:393px;
  height:3px;
}
#u147 {
  position:absolute;
  left:100px;
  top:182px;
  width:118px;
  height:10px;
}
#u147_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u147_end {
  position:absolute;
  left:101px;
  top:-5px;
  width:18px;
  height:20px;
}
#u147_line {
  position:absolute;
  left:0px;
  top:4px;
  width:118px;
  height:3px;
}
#u148 {
  position:absolute;
  left:121px;
  top:253px;
  width:834px;
  height:117px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  line-height:7px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u150 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:80px;
  top:0px;
  width:146px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:28px;
}
#u152 {
  position:absolute;
  left:2px;
  top:4px;
  width:142px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:226px;
  top:0px;
  width:136px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:28px;
}
#u154 {
  position:absolute;
  left:2px;
  top:4px;
  width:132px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:362px;
  top:0px;
  width:122px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:28px;
}
#u156 {
  position:absolute;
  left:2px;
  top:4px;
  width:118px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:484px;
  top:0px;
  width:107px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:28px;
}
#u158 {
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:591px;
  top:0px;
  width:115px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
}
#u160 {
  position:absolute;
  left:2px;
  top:4px;
  width:111px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:706px;
  top:0px;
  width:123px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:28px;
}
#u162 {
  position:absolute;
  left:2px;
  top:4px;
  width:119px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:0px;
  top:28px;
  width:80px;
  height:28px;
  text-align:center;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u164 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:80px;
  top:28px;
  width:146px;
  height:28px;
  text-align:center;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:28px;
}
#u166 {
  position:absolute;
  left:2px;
  top:4px;
  width:142px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:226px;
  top:28px;
  width:136px;
  height:28px;
  text-align:center;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:28px;
}
#u168 {
  position:absolute;
  left:2px;
  top:4px;
  width:132px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:362px;
  top:28px;
  width:122px;
  height:28px;
  text-align:center;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:28px;
}
#u170 {
  position:absolute;
  left:2px;
  top:4px;
  width:118px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:484px;
  top:28px;
  width:107px;
  height:28px;
  text-align:center;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:28px;
}
#u172 {
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:591px;
  top:28px;
  width:115px;
  height:28px;
  color:#008000;
  text-align:center;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
}
#u174 {
  position:absolute;
  left:2px;
  top:4px;
  width:111px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:706px;
  top:28px;
  width:123px;
  height:28px;
  color:#008000;
  text-align:center;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:28px;
}
#u176 {
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:0px;
  top:56px;
  width:80px;
  height:28px;
  text-align:center;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u178 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:80px;
  top:56px;
  width:146px;
  height:28px;
  text-align:center;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:28px;
}
#u180 {
  position:absolute;
  left:2px;
  top:4px;
  width:142px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:226px;
  top:56px;
  width:136px;
  height:28px;
  text-align:center;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:28px;
}
#u182 {
  position:absolute;
  left:2px;
  top:4px;
  width:132px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:362px;
  top:56px;
  width:122px;
  height:28px;
  text-align:center;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:28px;
}
#u184 {
  position:absolute;
  left:2px;
  top:4px;
  width:118px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:484px;
  top:56px;
  width:107px;
  height:28px;
  text-align:center;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:28px;
}
#u186 {
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:591px;
  top:56px;
  width:115px;
  height:28px;
  color:#008000;
  text-align:center;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
}
#u188 {
  position:absolute;
  left:2px;
  top:4px;
  width:111px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:706px;
  top:56px;
  width:123px;
  height:28px;
  color:#FF9900;
  text-align:center;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:28px;
}
#u190 {
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:0px;
  top:84px;
  width:80px;
  height:28px;
  text-align:center;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
}
#u192 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:80px;
  top:84px;
  width:146px;
  height:28px;
  text-align:center;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:28px;
}
#u194 {
  position:absolute;
  left:2px;
  top:4px;
  width:142px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:226px;
  top:84px;
  width:136px;
  height:28px;
  text-align:center;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:28px;
}
#u196 {
  position:absolute;
  left:2px;
  top:4px;
  width:132px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:362px;
  top:84px;
  width:122px;
  height:28px;
  text-align:center;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:28px;
}
#u198 {
  position:absolute;
  left:2px;
  top:4px;
  width:118px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:484px;
  top:84px;
  width:107px;
  height:28px;
  text-align:center;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:28px;
}
#u200 {
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:591px;
  top:84px;
  width:115px;
  height:28px;
  color:#FF0000;
  text-align:center;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
}
#u202 {
  position:absolute;
  left:2px;
  top:4px;
  width:111px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:706px;
  top:84px;
  width:123px;
  height:28px;
  color:#FF0000;
  text-align:center;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:28px;
}
#u204 {
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:842px;
  top:342px;
  width:76px;
  height:21px;
  text-decoration:underline;
  color:#0000FF;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:21px;
}
#u206 {
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:191px;
  top:213px;
  width:100px;
  height:25px;
}
#u207_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u208 {
  position:absolute;
  left:121px;
  top:213px;
  width:60px;
  height:25px;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u209 {
  position:absolute;
  left:2px;
  top:4px;
  width:56px;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:385px;
  top:213px;
  width:100px;
  height:25px;
}
#u210_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u211 {
  position:absolute;
  left:305px;
  top:213px;
  width:70px;
  height:25px;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u212 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:495px;
  top:213px;
  width:70px;
  height:25px;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u214 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:575px;
  top:213px;
  width:86px;
  height:25px;
}
#u215_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u215_input:disabled {
  color:grayText;
}
#u216 {
  position:absolute;
  left:690px;
  top:213px;
  width:65px;
  height:25px;
}
#u216_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u217 {
  position:absolute;
  left:121px;
  top:375px;
  width:242px;
  height:40px;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:40px;
}
#u218 {
  position:absolute;
  left:2px;
  top:12px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:711px;
  top:374px;
  width:239px;
  height:40px;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:40px;
}
#u220 {
  position:absolute;
  left:2px;
  top:12px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:849px;
  top:315px;
  width:61px;
  height:22px;
  text-decoration:underline;
  color:#0000FF;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
}
#u222 {
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:849px;
  top:286px;
  width:61px;
  height:22px;
  text-decoration:underline;
  color:#0000FF;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
}
#u224 {
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:102px;
  top:454px;
  visibility:hidden;
}
#u225_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u225_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u226 {
  position:absolute;
  left:0px;
  top:26px;
  width:318px;
  height:132px;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:132px;
}
#u227 {
  position:absolute;
  left:2px;
  top:58px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:0px;
  top:26px;
  width:318px;
  height:10px;
}
#u228_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u228_end {
  position:absolute;
  left:301px;
  top:-5px;
  width:18px;
  height:20px;
}
#u228_line {
  position:absolute;
  left:0px;
  top:4px;
  width:318px;
  height:3px;
}
#u229 {
  position:absolute;
  left:0px;
  top:26px;
  width:120px;
  height:10px;
}
#u229_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u229_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u229_line {
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  height:3px;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:16px;
}
#u231 {
  position:absolute;
  left:2px;
  top:-3px;
  width:162px;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:38px;
  top:46px;
  width:250px;
  height:100px;
  font-size:20px;
  color:#FF0000;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:100px;
}
#u233 {
  position:absolute;
  left:2px;
  top:26px;
  width:246px;
  word-wrap:break-word;
}
#u234 {
  position:absolute;
  left:0px;
  top:26px;
  width:318px;
  height:132px;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:132px;
}
#u235 {
  position:absolute;
  left:2px;
  top:58px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
