body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1583px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2 {
  position:absolute;
  left:0px;
  top:67px;
  width:222px;
  height:653px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:653px;
}
#u3 {
  position:absolute;
  left:2px;
  top:318px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:555px;
  width:222px;
  height:165px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:165px;
}
#u5 {
  position:absolute;
  left:2px;
  top:74px;
  width:218px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:3px;
  top:69px;
  width:210px;
  height:160px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:160px;
}
#u7 {
  position:absolute;
  left:2px;
  top:72px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:237px;
  width:213px;
  height:153px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:153px;
}
#u9 {
  position:absolute;
  left:2px;
  top:68px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:400px;
  width:213px;
  height:150px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:150px;
}
#u11 {
  position:absolute;
  left:2px;
  top:67px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:770px;
  width:1570px;
  height:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1570px;
  height:18px;
}
#u15 {
  position:absolute;
  left:2px;
  top:1px;
  width:1566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:750px;
  width:1570px;
  height:20px;
  color:#9D3C11;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1570px;
  height:20px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:1566px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:72px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:72px;
}
#u21 {
  position:absolute;
  left:2px;
  top:28px;
  width:1576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1468px;
  top:3px;
  width:115px;
  height:15px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:15px;
}
#u24 {
  position:absolute;
  left:2px;
  top:0px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1453px;
  top:18px;
  width:20px;
  height:65px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:65px;
}
#u26 {
  position:absolute;
  left:2px;
  top:24px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:1572px;
  top:17px;
  width:11px;
  height:66px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:66px;
}
#u28 {
  position:absolute;
  left:2px;
  top:25px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1473px;
  top:72px;
  width:105px;
  height:113px;
  overflow:hidden;
}
#u29_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:113px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u29_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:115px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:115px;
}
#u31 {
  position:absolute;
  left:2px;
  top:50px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:3px;
  top:2px;
  width:100px;
  height:110px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:110px;
}
#u33 {
  position:absolute;
  left:2px;
  top:47px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:3px;
  top:72px;
  width:100px;
  height:40px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1470px;
  top:17px;
  width:102px;
  height:60px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:60px;
}
#u37 {
  position:absolute;
  left:2px;
  top:22px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:257px;
  top:67px;
  width:1315px;
  height:649px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1315px;
  height:649px;
}
