body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1573px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:250px;
  top:70px;
  width:960px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:830px;
  top:426px;
  width:44px;
  height:44px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1010px;
  top:390px;
  width:46px;
  height:46px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u5 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:940px;
  top:520px;
  width:46px;
  height:46px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u7 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1040px;
  top:804px;
  width:120px;
  height:86px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:86px;
}
#u9 {
  position:absolute;
  left:2px;
  top:35px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1210px;
  top:768px;
  width:30px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:13px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:3px;
  width:30px;
  height:5px;
}
#u11 {
  position:absolute;
  left:1210px;
  top:797px;
  width:30px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:13px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:3px;
  width:30px;
  height:5px;
}
#u12 {
  position:absolute;
  left:1210px;
  top:825px;
  width:30px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:13px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:3px;
  width:30px;
  height:5px;
}
#u13 {
  position:absolute;
  left:1240px;
  top:761px;
  width:50px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:1240px;
  top:788px;
  width:50px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1240px;
  top:816px;
  width:50px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:9px;
  top:746px;
  width:387px;
  height:130px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:85px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:89px;
  top:0px;
  width:78px;
  height:25px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
}
#u23 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:167px;
  top:0px;
  width:73px;
  height:25px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u25 {
  position:absolute;
  left:2px;
  top:4px;
  width:69px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:240px;
  top:0px;
  width:130px;
  height:25px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
}
#u27 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:25px;
  width:89px;
  height:32px;
  color:#FF0000;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:89px;
  top:25px;
  width:78px;
  height:32px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
}
#u31 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:167px;
  top:25px;
  width:73px;
  height:32px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:32px;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:240px;
  top:25px;
  width:130px;
  height:32px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:32px;
}
#u35 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:57px;
  width:89px;
  height:32px;
  color:#FF0000;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
}
#u37 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:89px;
  top:57px;
  width:78px;
  height:32px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:167px;
  top:57px;
  width:73px;
  height:32px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:32px;
}
#u41 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:240px;
  top:57px;
  width:130px;
  height:32px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:32px;
}
#u43 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:89px;
  width:89px;
  height:36px;
  color:#FEDB11;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:36px;
}
#u45 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:89px;
  top:89px;
  width:78px;
  height:36px;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
}
#u47 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:167px;
  top:89px;
  width:73px;
  height:36px;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u49 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:240px;
  top:89px;
  width:130px;
  height:36px;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:36px;
}
#u51 {
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:990px;
  top:95px;
  width:200px;
  height:25px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u53 {
  position:absolute;
  left:1210px;
  top:95px;
  width:100px;
  height:25px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#0066FF;
  text-align:center;
}
#u54 {
  position:absolute;
  left:920px;
  top:390px;
  width:46px;
  height:46px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u55 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:1012px;
  top:486px;
  width:44px;
  height:44px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u57 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:724px;
  top:309px;
  visibility:hidden;
}
#u58_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u58_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:124px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:124px;
}
#u60 {
  position:absolute;
  left:2px;
  top:54px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:15px;
  top:27px;
  width:200px;
  height:64px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:64px;
}
#u62 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:72px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:72px;
}
#u66 {
  position:absolute;
  left:2px;
  top:28px;
  width:1576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:1468px;
  top:3px;
  width:115px;
  height:15px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:15px;
}
#u69 {
  position:absolute;
  left:2px;
  top:0px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:1453px;
  top:18px;
  width:20px;
  height:65px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:65px;
}
#u71 {
  position:absolute;
  left:2px;
  top:24px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:1572px;
  top:17px;
  width:11px;
  height:66px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:66px;
}
#u73 {
  position:absolute;
  left:2px;
  top:25px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:1473px;
  top:72px;
  width:105px;
  height:113px;
  overflow:hidden;
}
#u74_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:113px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u74_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:115px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:115px;
}
#u76 {
  position:absolute;
  left:2px;
  top:50px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:3px;
  top:2px;
  width:100px;
  height:110px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:110px;
}
#u78 {
  position:absolute;
  left:2px;
  top:47px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:3px;
  top:72px;
  width:100px;
  height:40px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u80 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:1470px;
  top:17px;
  width:102px;
  height:60px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:60px;
}
#u82 {
  position:absolute;
  left:2px;
  top:22px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:-10px;
  top:910px;
  width:1570px;
  height:18px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1570px;
  height:18px;
}
#u85 {
  position:absolute;
  left:2px;
  top:1px;
  width:1566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:-10px;
  top:890px;
  width:1570px;
  height:20px;
  color:#9D3C11;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1570px;
  height:20px;
}
#u87 {
  position:absolute;
  left:2px;
  top:2px;
  width:1566px;
  word-wrap:break-word;
}
