body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:30px;
  width:860px;
  height:99px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:99px;
}
#u1 {
  position:absolute;
  left:2px;
  top:42px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:111px;
  top:76px;
  width:200px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:129px;
  width:860px;
  height:421px;
  font-size:10px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:421px;
}
#u5 {
  position:absolute;
  left:2px;
  top:202px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:105px;
  top:189px;
  width:850px;
  height:206px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  line-height:7px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:92px;
  top:0px;
  width:127px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:28px;
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:123px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:219px;
  top:0px;
  width:135px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:28px;
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:131px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:354px;
  top:0px;
  width:220px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:28px;
}
#u14 {
  position:absolute;
  left:2px;
  top:6px;
  width:216px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:574px;
  top:0px;
  width:271px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:28px;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:267px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:28px;
  width:92px;
  height:36px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:92px;
  top:28px;
  width:127px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:219px;
  top:28px;
  width:135px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#008000;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:354px;
  top:28px;
  width:220px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:216px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:574px;
  top:28px;
  width:271px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:36px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:267px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:64px;
  width:92px;
  height:36px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u28 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:92px;
  top:64px;
  width:127px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:219px;
  top:64px;
  width:135px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:354px;
  top:64px;
  width:220px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:216px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:574px;
  top:64px;
  width:271px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:36px;
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:267px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:100px;
  width:92px;
  height:36px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:92px;
  top:100px;
  width:127px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u40 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:219px;
  top:100px;
  width:135px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FF9900;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u42 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:354px;
  top:100px;
  width:220px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:216px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:574px;
  top:100px;
  width:271px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:36px;
}
#u46 {
  position:absolute;
  left:2px;
  top:10px;
  width:267px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:136px;
  width:92px;
  height:36px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u48 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:92px;
  top:136px;
  width:127px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u50 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:219px;
  top:136px;
  width:135px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#008000;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u52 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:354px;
  top:136px;
  width:220px;
  height:36px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:574px;
  top:136px;
  width:271px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:36px;
}
#u56 {
  position:absolute;
  left:2px;
  top:10px;
  width:267px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:172px;
  width:92px;
  height:29px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:29px;
}
#u58 {
  position:absolute;
  left:2px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:92px;
  top:172px;
  width:127px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:29px;
}
#u60 {
  position:absolute;
  left:2px;
  top:6px;
  width:123px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:219px;
  top:172px;
  width:135px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#008000;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:29px;
}
#u62 {
  position:absolute;
  left:2px;
  top:6px;
  width:131px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:354px;
  top:172px;
  width:220px;
  height:29px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:29px;
}
#u64 {
  position:absolute;
  left:2px;
  top:4px;
  width:216px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:574px;
  top:172px;
  width:271px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:29px;
}
#u66 {
  position:absolute;
  left:2px;
  top:6px;
  width:267px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:105px;
  top:156px;
  width:155px;
  height:32px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
}
#u68 {
  position:absolute;
  left:2px;
  top:6px;
  width:151px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:764px;
  top:400px;
  width:186px;
  height:24px;
  color:#D7D7D7;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:24px;
}
#u70 {
  position:absolute;
  left:2px;
  top:4px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:105px;
  top:400px;
  width:176px;
  height:24px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:24px;
}
#u72 {
  position:absolute;
  left:2px;
  top:4px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:870px;
  top:159px;
  width:80px;
  height:29px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
