body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1570px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1570px;
  height:740px;
  color:#787878;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1570px;
  height:740px;
}
#u1 {
  position:absolute;
  left:2px;
  top:362px;
  width:1566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:900px;
  top:310px;
  width:90px;
  height:90px;
  color:#FF0000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u3 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1370px;
  top:0px;
  width:200px;
  height:71px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#A9C1C0;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:71px;
}
#u5 {
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:900px;
  top:310px;
  width:90px;
  height:90px;
  color:#FF0000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u7 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:737px;
  top:404px;
  width:133px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:739px;
  top:431px;
  width:103px;
  height:53px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:53px;
}
#u11 {
  position:absolute;
  left:2px;
  top:18px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:744px;
  top:436px;
  width:93px;
  height:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:744px;
  top:458px;
  width:93px;
  height:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:744px;
  top:408px;
  width:98px;
  height:23px;
  font-size:12px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:23px;
}
#u17 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:744px;
  top:408px;
  width:98px;
  height:23px;
  font-size:12px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:23px;
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:742px;
  top:405px;
  width:126px;
  height:26px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:26px;
}
#u21 {
  position:absolute;
  left:2px;
  top:5px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
