body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:280px;
  top:20px;
  width:320px;
  height:568px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u3 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:311px;
  top:50px;
  width:145px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:280px;
  top:80px;
  width:320px;
  height:465px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:465px;
}
#u7 {
  position:absolute;
  left:2px;
  top:224px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:328px;
  top:128px;
  width:240px;
  height:82px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:82px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:236px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:405px;
  top:87px;
  width:70px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:280px;
  top:128px;
  width:40px;
  height:40px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:280px;
  top:545px;
  width:320px;
  height:50px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
