body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1579px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:215px;
  top:72px;
  width:1356px;
  height:1076px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1356px;
  height:1076px;
}
#u2 {
  position:absolute;
  left:-2px;
  top:60px;
  width:218px;
  height:650px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:650px;
}
#u3 {
  position:absolute;
  left:2px;
  top:317px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:5px;
  top:77px;
  width:204px;
  height:140px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:140px;
}
#u5 {
  position:absolute;
  left:2px;
  top:62px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:2px;
  top:228px;
  width:202px;
  height:148px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:148px;
}
#u7 {
  position:absolute;
  left:2px;
  top:66px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:7px;
  top:539px;
  width:202px;
  height:144px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:144px;
}
#u9 {
  position:absolute;
  left:2px;
  top:64px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:-2px;
  top:0px;
  width:1580px;
  height:72px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:72px;
}
#u13 {
  position:absolute;
  left:2px;
  top:28px;
  width:1576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:1466px;
  top:3px;
  width:115px;
  height:15px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:15px;
}
#u16 {
  position:absolute;
  left:2px;
  top:0px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1451px;
  top:18px;
  width:20px;
  height:65px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:65px;
}
#u18 {
  position:absolute;
  left:2px;
  top:24px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1570px;
  top:17px;
  width:11px;
  height:66px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:66px;
}
#u20 {
  position:absolute;
  left:2px;
  top:25px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1471px;
  top:72px;
  width:105px;
  height:113px;
  overflow:hidden;
}
#u21_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:113px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:115px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:115px;
}
#u23 {
  position:absolute;
  left:2px;
  top:50px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:3px;
  top:2px;
  width:100px;
  height:110px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:110px;
}
#u25 {
  position:absolute;
  left:2px;
  top:47px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:3px;
  top:72px;
  width:100px;
  height:40px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1468px;
  top:17px;
  width:102px;
  height:60px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:60px;
}
#u29 {
  position:absolute;
  left:2px;
  top:22px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:7px;
  top:691px;
  width:202px;
  height:143px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:143px;
}
#u31 {
  position:absolute;
  left:2px;
  top:64px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:7px;
  top:843px;
  width:202px;
  height:143px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:143px;
}
#u33 {
  position:absolute;
  left:2px;
  top:64px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:5px;
  top:996px;
  width:202px;
  height:143px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:143px;
}
#u35 {
  position:absolute;
  left:2px;
  top:64px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:-2px;
  top:1172px;
  width:1570px;
  height:18px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1570px;
  height:18px;
}
#u38 {
  position:absolute;
  left:2px;
  top:1px;
  width:1566px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:-2px;
  top:1152px;
  width:1570px;
  height:20px;
  color:#9D3C11;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1570px;
  height:20px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:1566px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:-2px;
  top:675px;
  width:220px;
  height:477px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:477px;
}
#u42 {
  position:absolute;
  left:2px;
  top:230px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
