body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:853px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:853px;
  height:605px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:853px;
  height:605px;
}
#u1 {
  position:absolute;
  left:2px;
  top:294px;
  width:849px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:748px;
  top:36px;
  width:60px;
  height:57px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:57px;
}
#u3 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:748px;
  top:161px;
  width:60px;
  height:57px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:57px;
}
#u5 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:748px;
  top:275px;
  width:60px;
  height:57px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:57px;
}
#u7 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:748px;
  top:392px;
  width:60px;
  height:57px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:57px;
}
#u9 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:748px;
  top:514px;
  width:60px;
  height:57px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:57px;
}
#u11 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
