body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1057px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:9px;
  width:1057px;
  height:241px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1057px;
  height:241px;
}
#u1 {
  position:absolute;
  left:2px;
  top:112px;
  width:1053px;
  visibility:hidden;
  word-wrap:break-word;
}
